# Auto detect text files and perform LF normalization
* text=auto
# Force specific language detection
*.html linguist-language=HTML
*.css linguist-language=CSS
*.js linguist-language=JavaScript

# Ensure these are always detectable
*.html linguist-detectable=true
*.css linguist-detectable=true
*.js linguist-detectable=true
